*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;;
}
body{
    line-height:1.6;
}
header{
    background:#222;
    color:white;
    padding:15px 0;
    text-align:center;
}
.logo{
    margin-bottom:10px;
}
nav ul{
    list-style:none;
}
nav ul li{
    display:inline;
    margin:0 15px;
}
nav ul li a{
    color:white;
    text-decoration:none;
}
nav ul li a:hover{
    color:#00adb5;
    transform: matrix(2.0);
}
.hero{
    background:linear-gradient(25deg,rgb(125, 125, 237),#00adb5);
    color: white;
    padding:80px 20px;
    text-align:center;
}
.hero h1{
    font-size:40px;
}
section{
    padding:50px 20px;
    text-align:center;
}
.about,.contact{
    background:#fbfbfb;
}
.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}
.card{
    background:rgb(255, 255, 255);
    padding:20px;
    width:250px;
    border-radius:8px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}
.card:hover{
    background: linear-gradient(25deg,rgb(125, 125, 237),#00adb5);
    background-color:linear-gradient(25deg,rgb(84, 84, 225),#00adb5);
    transform:scale(1.05) ;
    box-shadow: 0 0 15px #0f8f96;
}
footer{
    background:#111;
    color:white;
    padding:15px;
    text-align:center;
}
